* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.home_page_header {
  position: sticky;
  top: 0;
  /* background-color: #d3d3e4; */
  background-color: #0c4872;
  /* background-color: #1e293b; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
}

.admin_img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  aspect-ratio: 1;
  border-radius: 3px;
}

.home_page_header_right {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.home_page_dropdown {
  display: none;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 100%;
  right: 50px;
  width: 160px;
  background-color: #fff;
  border: 1px solid #d3d3e4;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.show {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.home_page_dropdown span {
  padding: 10px;
  cursor: pointer;
}

.home_page_dropdown span:hover {
  background-color: #d3d3e4;
}

.home_page_app_msg {
  width: 1000px;
  margin: 0 auto;
  background-color: #d1ecf1;
  margin-top: 40px;
}

.home_page_app_msg {
  text-align: center;
  padding: 9px;
  border-radius: 3px;
}

.home_page_sec {
  /* background-image: url("/files/background-light.svg"); */
  background-color: #0c4872;
  /* background-color: #1e293b; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  padding-bottom: 50px;
}

.home_page_apps {
  width: 900px;
  margin: 0 auto;
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}

.home_page_app {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home_page_app_image {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: white;
  width: fit-content;
  height: fit-content;
  padding: 8px;
  border-radius: 6px;
  transition: box-shadow ease-in 0.1s, transform ease-in 0.1s;
  transition: scale ease-in 0.1s, transform ease-in 0.1s;
  box-shadow: var(
      --AppSwitcherIcon-inset-shadow,
      inset 0 0 0 1px rgba(0, 0, 0, 0.2)
    ),
    0 1px 1px rgba(0, 0, 0, 0.02), 0 2px 2px rgba(0, 0, 0, 0.02),
    0 4px 4px rgba(0, 0, 0, 0.02), 0 8px 8px rgba(0, 0, 0, 0.02),
    0 16px 16px rgba(0, 0, 0, 0.02);
}

.home_page_app_image:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  transition: box-shadow ease-in 0.1s, transform ease-in 0.1s;
  scale: 1.1;
}

.home_page_app_img {
  width: 60px;
  height: 50px;
  text-align: center;
  /* margin: auto; */
  font-size: 48px;
}

.home_page_app_label {
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  text-transform: capitalize;

  width: 90px;
  word-wrap: break-word; /* Ensure long words wrap to the next line */
  word-break: break-all; /* Ensure breaks occur within words */
  text-align: center; /* Optional: to center-align the text */
}

/* mobile desing */
@media only screen and (max-width: 1024px) {
  .home_page_apps {
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    place-items: center;
  }

  .home_page_header {
    padding: 0;
    padding-right: 30px;
    padding-top: 9px;
  }

  .home_page_app_msg {
    width: 98%;
  }
}
